
img {
  width: 300px;
  height: 300px;
  mix-blend-mode: multiply;

  justify-content: space-between;
}

.js-book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

